body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
	/** header-nav **/
	#header-nav {
	padding: 60px;
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

<!--jQuery (Bootstrap JS plugins depend on it) -->
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>